.caption {
    text-align: center;
}

h2.caption {
    margin-bottom: 50px;
}

.item {
    position: relative;
    border: 1px solid;
    width: 90vw;
    left: 5%;
    height: 500px;
    text-align: center;
    margin-bottom: 200px;
}

.auto-item {
    position: relative;
    border: 1px solid;
    width: 90vw;
    left: 5%;
    height: 500px;
    text-align: center;
    margin-bottom: 200px;
}
